includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - config
        - database/migrations
        - resources/lang
        - resources/views

    level: 4
